:root{
    --primary: rgb(104, 104, 104);
    --light: rgb(255, 255, 255);
    --grey: rgb(109, 109, 109);
}

body{
    overflow: hidden;
    font-family: arial;
    font-weight: 300;
    color: var(--primary);

}

/* para modificar la clase de bootstrap */
.bg-primary{
    /* 
    background-color: var(--primary) !important;

     */
     background-color: black !important;
}
/**/

a:hover{
    text-decoration:none;
}

#sidebar-content{
    min-height:100vh;

}

#sidebar-content .logo{
    padding: .85rem 1.25rem;

}

#sidebar-content .menu{
    width:18rem;
}

/*posisicion del icono search*/
.ico-search i{
    position: absolute;
    top: 12px;
    right:15px;
}

/*--*/

.menuSide{
    position: fixed;
    width: 60px;
    height:100%;
    transition:0.5s;
    overflow:hidden;
}


.menuSide:hover{
    width: 300px;
}

.menu .iconSM{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    margin-left: 10px;
    
}

i{
    color: rgba(255, 255, 255, 0.5);
    transition:2s;
    cursor: default;
    user-select: none;
    padding:0 5px;
    
}

i:hover{
    transition:0s;
    color: #0f0;
    text-shadow: 0 0 200px #0f0;
}

i .exclamation{
    
}
